@font-face {
        font-family: "TTLakes-next";
        src:url("./../fonts/TTLakes-Medium.woff");
}

@font-face {
    font-family: "TTLakes";
    src:url("./../fonts/TTLakes-Bold.woff");
}


body {
    margin: 0;
    width: 320px;
    height: 1024px;
    box-shadow: 0 0 6px 1px #34495e;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: content;
}

main {
    width: 320px;
    height: max-content;
}

.header__logo {
    height: max-content;
    margin-top: 18.73px;
    margin-right: 78.73px;
    margin-left: 16.73px;
}

.header__btn-cross {
    margin-left: 24px;
}

.header__btn-search {
    margin-right: 24px;
} 

.header__btn-cross,
.header__btn-search {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: #FF3E79;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

button:hover {
    opacity: 0.3;
    fill: black;
}

p:hover {
    opacity: 0.3;
    fill: black;
}

a:hover {
    opacity: 0.3;
    fill: black;
}














.menu__saidbar {
    display: flex;
    flex-direction: column;
}

.menu__saidbar-btn,
.menu__saidbar-btn-1 {
    display: flex;
    align-items: center;
    height: 24px;
}

.menu__saidbar-btn-1 {
    padding-top: 46.46px;
}

.menu__saidbar-btn {
    padding-top: 32px;
}

.menu__saidbar__stick {
    display: none;
    height: 32px;
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.menu__saidbar-btn button{
    margin-left: 24px;
    height: 24px;
    border: none;
    padding: 0px;
    border: none;
    background-color: white;
    height: 24px;
    font-family: "TTLakes-next";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color:black;

}

.menu__saidbar__stick-1 {
    height: 32px;
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.menu__saidbar-btn-1 button{
    margin-left: 20px;
    width: 120px;
    border: none;
    background-color: white;
    height: 24px;
    padding: 0px;
    font-family: "TTLakes-next";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82;

}


.footer-page {
    width: 320px;
}

.footer-page__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 268px;
}

.footer-page__menu__btn-phone,
.footer-page__menu__btn-message,
.footer-page__menu__btn-contacts {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: #FF3E79;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-page__menu__btn-contacts {
    margin-right: 144px;
}

.footer-page__menu__btn-phone {
    margin-left: 24px;
}


.footer-page__contacts__mail a {
    font-family: "TTLakes-next";
    font-size: 16px;
    height: 24px;
    margin-top: 16px;
    letter-spacing:-0.2px;
    color: black;
    text-decoration: none;
    font-style: normal;
}

.footer-page__contacts__mail {
    margin-top: 16px;
    margin-left: 24px;
}

.footer-page__contacts__number-phone a {
    font-family: "TTLakes";
    font-size: 24px;
    height: 32px;
    margin-top: 16px;
    letter-spacing:-0.6px;
    color: black;
    text-decoration: none;
    font-style: normal;
}

.footer-page__contacts__number-phone {
    height: 32px;
    margin-top: 12px;
    margin-left: 24px;
}

.footer__page__launge {
    display: flex;
    justify-content: space-between;
    height: max-content;
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-family: "TTLakes-next";
}
.footer__page__launge-ch {
    margin-right: 209px;
}
.footer__page__launge-ru {
    margin-left: 24px;
    color: #7E7E82;
}

.footer__page__launge p {
    margin: 0;
}