@font-face {
        font-family: "TTLakes-next";
        src:url("./fonts/TTLakes-Medium.woff");
}

@font-face {
    font-family: "TTLakes";
    src:url("./fonts/TTLakes-Bold.woff");
}


body {
    margin: 0;
    display: flex;    
    flex-direction: column;
    padding: 0;
    width: 320px;
    min-height: 100vh;
    box-shadow:
        16px 0 52px 0 rgba(14, 24, 80, .2),
        -2px 0 4px 0 rgba(69, 79, 126, .02);
}

.header {
    display: flex;    
    justify-content: space-between;
    width: 320px;
    height: content;
}

main {
    width: 320px;
    flex: 1 1 auto;
}

.header__logo {
    height: max-content;
    margin-top: 18.73px;
    margin-right: 78.73px;
    margin-left: 16.73px;
}

.header__btn-cross {
    margin-left: 24px;
}

.header__btn-search {
    margin-right: 24px;
} 

.header__btn-cross,
.header__btn-search {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: #FF3E79;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

p:hover {
    opacity: 0.3;
}

a:hover {
    opacity: 0.3;
}

.menu__saidbar {
    display: flex;
    flex-direction: column;
}

.menu__saidbar-btn {
    display: flex;
    align-items: center;
    height: 24px;
}


.menu__saidbar-btn {
    padding-top: 32px;
}



.menu__saidbar-btn::before {
    display: inline-block;
    content: "";
    opacity: 0;
    transition: width 0.2s ease-out;
    height: 32px;
    width: 4px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu__saidbar-btn:hover::before {
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.2s;

}



.menu__saidbar-btn>button{
    margin-left: 24px;
    height: 24px;
    border: none;
    padding: 0px;
    border: none;
    background-color: white;
    height: 24px;
    font-family: "TTLakes-next";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color:black;

}





.footer-page__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 268px;
}

.footer-page__menu__btn-phone,
.footer-page__menu__btn-message,
.footer-page__menu__btn-contacts {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: #FF3E79;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-page__menu__btn-contacts {
    margin-right: 144px;
}

.footer-page__menu__btn-phone {
    margin-left: 24px;
}


.footer-page__contacts__mail {
    font-family: "TTLakes-next";
    font-size: 16px;
    height: 24px;
    margin-top: 16px;
    letter-spacing:-0.2px;
    color: black;
    text-decoration: none;
    font-style: normal;
}

.footer-page__contacts__mail {
    margin-top: 16px;
    margin-left: 24px;
}

.footer-page__contacts__number-phone {
    font-family: "TTLakes";
    font-size: 24px;
    height: 32px;
    margin-top: 16px;
    letter-spacing:-0.6px;
    color: black;
    text-decoration: none;
    font-style: normal;
}

.footer-page__contacts__number-phone {
    height: 32px;
    margin-top: 12px;
    margin-left: 24px;
}

.footer__page__launge {
    display: flex;
    justify-content: space-between;
    height: max-content;
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-family: "TTLakes-next";
}
.footer__page__launge__btn:first-child {
    margin-left: 24px;
}

.footer__page__launge__btn:last-child {
    margin-right: 209px;
}